/* reset */
body {
	margin: 0;
	background: #AECFF2;
	color: #333;
	font-family: 'Lantinghei SC', 'Helvetica Neue', Helvetica, sans-serif, '微软雅黑';
	font-size: 18px;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd { margin: 0; padding: 0; }
ul, ol { list-style-type: none; }
img { border: none; vertical-align: top; }
a { color: inherit; }

/* 公共样式 */
.clearfix:after { content: ""; display: block; clear: both; }
.clearfix { zoom: 1; }

/* 当前样式 */
@media print {	

}
#content { width: 1000px; height: 1415px; margin: 0 auto; }
#show,#word { height: 1415px; float: left; box-sizing: border-box; background-color: white; }
#word { width: 64%; position: relative; padding-right: 3%; }
#show { width: 36%; text-align: center; padding: 4% 9% 4% 4%; }
#show .photo { width: 10em; height: 10em; margin-top: 4%; margin-bottom: 4%; border-radius: 999px; }
#show ul { text-align: left; word-break: break-all; }
#show h2 { font-size: 1.5em; line-height: 1.5em; margin-top: 7%; font-weight: 700; color: #66CA99; }
#show span { font-size: 1.2em; line-height: 1.2em; }

#word h1 { font-size: 3em; color: #14AD63; margin-top: 7%; }
#word .online { position: absolute; right: 4%; top: 12%; }
.online a { font-size: 1.2em; line-height: 1.7em; }
#word h2 { font-size: 2.5em; 1color: #14AD63; margin-top: 1%; margin-bottom: 5%; }
#word ul { margin-top: 10%; }
#word li { margin-bottom: 1em; }
#word h3 { font-size: 1.5em; font-weight: 700; color: #66CA99; margin-bottom: .3em; }
#word dt { font-size: 1.5em; }
#word dd { margin: 1em 0; }
#word dd span { width: 1.5em; height: 1.5em; display: inline-block; background-color: #2BB673; border-radius: 99px; margin-right: 1em; border: 3px solid #03A858; box-sizing: border-box; }
#word dd strong { position: absolute; }
#word dd strong+span { margin-left: 7em; }
#word dd span.not { border: 3px solid silver; background-color: white; }
#word p { font-size: 1.2em; line-height: 1.7em; }
#word a { font-size: 0.8em; }

/* 弹出层的 */
#alert { width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-color: rgba(0,0,0,0.4); }
#alert p { width:500px; height: 300px; position: absolute; left: calc(50% - 250px); top: calc(50% - 150px); color: red; border-radius:10px; background-color: rgba(255,255,255,0.8); -webkit-transform: scaleX(0) scaleY(0); -webkit-transform-origin: center; -webkit-transition: .4s; box-sizing: border-box; padding: 20px; font-size: 20px; }
#alert p.active { -webkit-transform: scaleX(1) scaleY(1); opacity: 1; }
#alert .btn { color: black; position: absolute; top: 10px; right: 10px; font-size: 20px; }
#alert span { color: red; }


 


